@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>At the Library of Alexandria we are committed to privacy over all else. This won't be a long, unreadable statement like many you've seen before, so stick with us!</p>

<ul>
    <li>We will not keep any logs of your traffic, data, personal identifiers, IP address, browser information or any other form of information, anonymous or identifiable, for longer than 10 minutes following your contact to our server.</li>
    <li>If the Library is ordered by a Government or Court of Law to hand over your data, we will not provide any data to them. This is because we do not keep any data on you, and therefore have nothing to hand over.</li>
    <li>Your searches are hidden from both the URL and page title, making it very difficult if not impossible for your ISP to see what you have searched. All page data sent to you is encrypted during transfer.</li>
    <li>Your searches are not recorded or logged and all relevant data will be erased from our servers within 10 minutes of contact.</li>
</ul>
